extends layout 

block content

  link(href='css/index.css', rel='stylesheet')

  script(src='js/index.js')

  div.row.index-first-row
    div.col-md-offset-3.col-md-3
      a.btn.btn-success.btn-feedback
        span.fa.fa-4.fa-thumbs-o-up
    div.col-md-3
      a.btn.btn-danger.btn-feedback
        span.fa.fa-4.fa-thumbs-o-down
